body{
	font-family: sans-serif, Arial, Verdana, helvetica;
	font-size:10px;
	background: url(../img/bg_grey2.gif) center repeat-y;
	margin-top:0px;
	margin-bottom:0px;
}
.h_titulo1 {
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align:right;
	padding-top:5px;
	padding-right:5px;
}
.h_titulo2 {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align:right;
	padding-top:5px;
	padding-right:5px;
}
.pie {
	font-size: 8px;
	font-style: normal;
	color: #666666;
	text-align:center;
	padding-top:5px;
	padding-right:5px;
}

a.ruta:link { text-decoration: none; color:#666;}
a.ruta:visited { text-decoration: none; color:#666; }
a.ruta:hover { text-decoration: underline; color:#333; }